* {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }

  /* no use its overidden by bootstrap  */
a {
  color: aliceblue;
  text-decoration: none;
}
  