* {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }

  /* no use its overidden by bootstrap  */
a {
  color: aliceblue;
  text-decoration: none;
}
  
.underline{
  height: 5px;
  width: 150px;
  background-color: red;
  border-radius: 20px;
}

.bg-f2f2f2{
  background-color: #988e8e;
}